:root {
  --primary-color: #8a558d;
  --accent-color: #f6b269;
  --button-color: #67b6d7;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Rubik+Mono+One&display=swap');

/* font-family: 'Roboto Mono', monospace;
font-family: 'Rubik Mono One', sans-serif; */

.css-button {
	color: #ffffff;
	font-size: 16px;
	border-radius: 5px;
	border: solid 1px #3866a3;
	/* text-shadow: 1px 1px 0px #251426; */
	box-shadow: inset -1px 1px 2px 0px #BBDAF7;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	font-family: Arial;
	background: linear-gradient(158deg, #67b5d7 10%, #7cabd6 100%);
	display:inline-flex;
	padding: 0;
}

.css-button:hover {
	background: linear-gradient(158deg, #7cabd6 10%, #67b5d7 100%);
}
.css-button-text {
	position: relative;
	padding: 10px 18px;
}
.css-button-icon {
	border-right: 1px solid #ffffff29;
	box-shadow: inset rgb(0 0 0 / 14%) -1px 0 0;
	padding: 10px 10px;
}

#learn-button {
  text-align: center;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  text-decoration: overline;
  color: #f6b269;
}

.citation-link {
  background-color: var(--primary-color);
}

h3 {
  color: var(--primary-color);
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

h4 {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
}

p, ul {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;

}

.closing {
  background-color: var(--primary-color);
  height: 8rem;
  color: white;
}

.navbar {
  background-color: var(--primary-color);
}
.navbar-brand {
  font-family: 'Rubik Mono One', sans-serif;
}

.navbar-brand:hover {
font-family: 'Rubik Mono One', sans-serif;
}

.offcanvas {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.4rem;
}

.hero img {
  padding-top: 3rem;
  width: 100%;
}

.footer-img {
  padding-top: 3rem;
  width: 100%;
}

.about, .learn, .donate{
  border-bottom: .5rem solid var(--accent-color);
  margin-left: 2rem;
  margin-right: 2rem;
}

.about-lower, .about-upper {
  margin: 2rem 4rem;
}

.person-icon {
  height: 12rem;
 }

.fact {
  border-left: .5rem solid var(--accent-color);
}

.reference-link {
  font-size: .8rem;
  text-decoration: none;
}

.fade-in {
  animation: fadeIn ease 7s;
  -webkit-animation: fadeIn ease 7s;
  -moz-animation: fadeIn ease 7s;
  -o-animation: fadeIn ease 7s;
  -ms-animation: fadeIn ease 7s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}



